<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="sidebar.component.scss" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>


    <div id="sidebar">
        <div class="toggle-btn">
            <span>&#9776;</span>
        </div>

        <ul>
            <li>Inicio</li>
            <li>Perfil</li>
            <li>Historia</li>
            <li>Video</li>
            <li>Salir</li>

        </ul>

    </div>

    <script src="./sidebar.component.ts"></script>
</body>

</html>